<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <%- helmetTitle %>
    <%- helmetLink %>
    <%- helmetMeta %>
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="<%= manifest["main.css"] %>">
    <%- css %>
</head>
<body>
<div id="root" data-state="<%= JSON.stringify(state) %>"><%- html %></div>
<script src="<%= manifest["vendors.js"] %>"></script>
<script src="<%= manifest["main.js"] %>"></script>
</body>
</html>
